<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aula 01 - Vuejs do jeito ninja</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
  <div id="app">
    <navbar></navbar>
    <h1>{{ titulo }}</h1>

    <h2>Aula 03</h2>
    <div v-if="usuario.id == 1">
      <p>ID: {{ usuario.id }}</p>
      <p>Nome: {{ usuario.nome }}</p>
      <p>Profissão: {{ usuario.profissao }}</p>
    </div>
    <div v-else>
      <p>Nenhum usuário com ID = 1</p>
    </div>

    <h2>Aula 04</h2>
    <ul>
      <li v-for="(item, index) in linguagens">{{ index }} - {{ item.nome }}</li>
    </ul>

    <h2>Aula 05</h2>
    <label for="">Nome</label><br>
    <input type="text" v-model="nome" name="Nome" id="nome"> {{ nome }}

    <br><br>

    <label for="">Telefone</label><br>
    <input type="text" v-model="telefone">

    <label for="">Deseja receber nossas novidades?</label><br>
    <input type="radio" value="Sim" v-model="novidades"> Sim
    <input type="radio" value="Não" v-model="novidades"> Não

    <br><br>

    <label for="">Interesses</label><br>
    <input type="checkbox" value="Futebol" v-model="interesses"> Futebol<br>
    <input type="checkbox" value="Fórmula 1" v-model="interesses"> Fórmula 1<br>
    <input type="checkbox" value="Corrida" v-model="interesses"> Corrida<br>

    <br><br>

    <label for="">Como nos conheceu?</label><br>
    <select v-model="conheceu">
      <option value="">Escolha</option>
      <option value="Google">Google</option>
      <option value="TV">TV</option>
      <option value="Revista">Revista</option>
    </select>

    <br><br>

    <button>Enviar</button>

    <hr>

    <p>Nome: {{ nome }}</p>
    <p>Telefone: {{ telefone }}</p>
    <p>Novidades: {{ novidades }}</p>
    <p>Interesses: {{ interesses }}</p>
    <p>Como nos conheceu? {{ conheceu }}</p>

    <h2>Aula 06</h2>
    <!--<img v-bind:src="imagem" alt="">
    <img :src="imagem" alt=""> é a mesma coisa -->

    <h2>Aula 07</h2>

    <button class="btn" :class="btnClassLimpar" v-bind:style="btnStyleLimpar">Limpar</button>
    <button class="btn" :class="btnClassEnviar" v-bind:style="btnStyleEnviar">Enviar</button>

    <h2>Aula 08</h2>


    <form action="http://google.com">
      <button type="submit" class="btn btn-primary" v-on:click.prevent.stop="enviar()">Enviar</button>
    </form>

    <h2>Aula 09</h2>
    <ul>
      <li v-for="usuario in usuarios">{{ usuario.nome | nomeSobrenome(usuario.sobrenome, true) }}</li>
    </ul>

    <h2>Aula 10</h2>
    <p>{{ nomecomputed }}</p>
    <p>{{ toUpperCase }}</p>
    <p>{{ fullName }}</p>

    <h2>Aula 11</h2>
    <p>Lifecycle hooks</p>

    <h2>Aula 12</h2>
    <menu-bar :items="[{ label: 'A empresa' }, { label: 'Contato' }]"></menu-bar>

    <h2>Aula 13</h2>
    <p>componentes pais e filhos</p>

    <h2>Aula 14</h2>
    <p>props e emit</p>

  <template id="nav"> <!-- componente pai -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>
      <menu-bar :items="topNav" @emit-click="getLink"></menu-bar>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0" >
              <input class="form-control mr-sm-2" type="text" placeholder="Search"> </input>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
  </nav>
  </template>

  <template id="menu">
    <div>
      <ul class="navbar-nav ar-auto">
      <li v-for="(item, index) in items" class="nav-item">
          <a @click.stop.prevent="emitClick(index)" class="nav-link" href="#">{{ item.label }}</a>
      </li>
      </ul>
    </div>
  </template>

  <script src="https://unpkg.com/vue"></script>
  <script>

    Vue.component('navbar', {
      template: '#nav',
      data () {
        return {
          topNav: [{ label: 'Home' }, { label: 'Link' }, { label: 'Disabled' }, ]
        }
      },
      methods: {
        getLink (index) {
          alert(this.topNav[index].label)
        }
      }
    });

    Vue.component('menu-bar', {
      template: "#menu",
      // props: ['items'], // tem as duas opções de declaração de props, assim, como array
      props: {             // e como objeto
        items: {
          type: Array, // Array | String | Object | Boolean esses são (todos os?) tipos possíveis de props
          required: true,
          default: []
        }
      },

      methods: {
        emitClick (index) {
          this.$emit('emit-click', index)
        }
      }
    })
    var app = new Vue({
      // a instância do vue é atribuída a uma variável global e precisa de dois elementos pra funcionar:
      // el é onde define o elemento pai do aplicativo, $app é o id do elemento pai
      // o vuejs só funciona dentro desse elemento definido em el
      el: "#app",
      data: {
        // elemento onde estarão nossas variáveis
        status: false,
        titulo: "Vuejs do jeito ninja",
        usuario: {
          id: 1,
          nome: "Gretchen",
          profissao: "Cantora"
        },
        linguagens: [
          { nome: "JavaScript" },
          { nome: "PHP" },
          { nome: "C#" },
          { nome: 'Java' },
          { nome: 'Python' }
        ],
        nome: '',
        telefone: '',
        novidades: '',
        interesses: [],
        conheceu: '',
        imagem: 'https://thumbs.jusbr.com/filters:format(webp)/imgs.jusbr.com/publications/artigos/images/capturar1452194585.JPG',
        btnClassLimpar: {
          'btn-danger': true,
          'btn-sm': false
        },
        btnClassEnviar: [
          'btn-primary',
          { 'btn-lg': false }
        ],
        btnStyleLimpar: [
          { 'font-size': '50px' },
          { 'text-transform': 'lowercase' }
        ],
        btnStyleEnviar: {
          'font-size': '10px'
        },
        usuarios: [
          { nome: 'Fiona', sobrenome: 'Maçã' },
          { nome: 'Marina', sobrenome: 'Diamandis' },
          { nome: 'c', sobrenome: '' }
        ],
        nomecomputed: 'Zezinho',
        firstName: 'José',
        lastName: 'Silva'
      },

      filters: {
        nomeSobrenome (nome, sobrenome, referencia=false) {
          if (referencia) {
            return sobrenome.toUpperCase() + ', ' + nome
          }
          return nome + ' ' + sobrenome
        },

        toUpperCase (str, param1, param2) {
          console.log('param1: ', param1)
          console.log('param2: ', param2)
          return str.toUpperCase()
        },

        truncate (str, length) {
          var output = str
          if (output.length > length) {
            output = str.substring(0, length) + '...'
          }
          return output
        },


      },

      computed: {
        toUpperCase() {
          return this.nomecomputed.toUpperCase()
        },

        fullName() {
          return this.firstName + ' ' + this.lastName
        }
      },

      watch: {
        nomecomputed (novo, antigo) {
          console.log('antigo:', antigo)
          console.log('novo:', novo)
        }
      },

      methods: {
        enviar () {
          alert('Enviado!')
        }
      }
    });
    // reatividade
    // tudo que vc produz no vuejs, vai ser reativo. tudo que vc altera, o vuejs interpreta automaticamente a alteração e atualiza a view

    // DIRETIVAS
    // são códigos que vc implementa dentro do markup html, por exemplo, v-if, v-for, v-model, v-else, v-show etc
    // também dá pra criar diretivas customizadas que realizem uma função específica
    // diretivas no vuejs sempre começam com v-
    // cada uma executa uma rotina diferente

    // V-SHOW, V-IF e V-ELSE
    // v-show oculta o elemento da tela, mas ele ainda é incluído no código, no inspecionar elemento
    // v-if não mostra nem no código
    // v-show é utilizado quando quer mostrar ou esconder elementos na tela, como um menu, por exemplo
    // v-if é mais para checar variáveis de apis, por exemplo
    // v-else, aparentemente, tem que ser um elemento imediatamente posterior a um v-if
    // se tiver algo entre o v-if e o v-else, o v-else nao funciona

    // V-MODEL
    // essa diretiva relaciona um elemento a uma variável declarada no data
    // a variável captura o que está no value do elemento

    // V-BIND
    // coloca a diretiva antes de um atributo html e o valor do atributo passa a ser uma variável
    // o valor da variável definida em data será, então, passado como valor do atributo
    // por exemplo: <img v-bind:src="imagem"/> e imagem é uma variável com o link da imagem
    // mas se não quiser usar uma variável, também dá pra colocar a string direto entre aspas simples
    // <img v-bind:src="'link.com/imagem.jpg'"/>
    // pode ser usado em qualquer tag e atributo
    // tem um atalho de colocar apenas : e não escrever v-bind, por exemplo:
    // <img :src="imagem"/>
    // o valor no final precisa resultar numa string (?)

    // V-BIND com objeto e array
    // também dá pra definir como objeto e array

    // V-ON
    // em um evento, realiza a rotina especificada
    // pode ter mais de uma ação definida, como, nesse exemplo, redireciona para o google
    // para impedir outras ações e fazer com que apenas o v-ob:click seja executado, use
    // v-on:click.prevent.stop
    // também tem outros eventos, como .right ou .left, @keyon, @keyup
    // @ é só um atalho para v-on:, são a mesma coisa

    // FILTERS
    // servem para customizar as variáveis exibidas nas telas
    // são chamados com pipe: {{ variavel | filter() }}

    // COMPUTED
    // gera uma rotina de programação sempre que pelo menos uma das dependências for alterada
    // roda sempre que as dependências tiverem alterações

    // WATCH
    // observa se uma variável específica for alterada

    // COMPUTED vs WATCH
    // no exemplo do fullName, é melhor usar o computed, porque são duas dependências que podem mudar
    // para alterar um resultado final
    // se fizesse com watch, precisaria observar as duas variáveis e fazer o mesmo procedimento para cada caso
    // no computed, ele observa as duas variáveis de uma vez
  </script>
</html>